@import "general/_reset.scss";
@import "general/_variables.scss";
@import "general/_fonts.scss";

html {
	font-size: 16px;
}

.clearfix {
	&::after {
		display: table;
		content: "";
		clear: both;
	}
}

.container_sm {
	//padding: 0 30px;
}

//Компоненты
@import "components/_header.scss";
@import "components/_cover.scss";
@import "components/_features.scss";
@import "components/_last-orders.scss";
@import "components/_statistics.scss";
@import "components/_menu.scss";
@import "components/_orders.scss";