@import "general/_reset.scss";
@import "general/_variables.scss";
@import "general/_fonts.scss";

//Компоненты
@import "components/_header.scss";

html {
	font-size: 16px;
}

.clearfix {
	&::after {
		display: table;
		content: "";
		clear: both;
	}
}