.cover {
	background-color:  #282828;
	.container {
		position: relative;
	}
	.carousel {
		height: 500px !important;
		.carousel-item {
			width: 100% !important;
			height: 100% !important;
			img {
				position: absolute;
				width: 100% !important;
				height: auto !important;
				left: 0;
				top: 0;
			}
			.carousel__tip {
				position: absolute;
				padding: 30px 25px;
				left: 50px;
				bottom: 40px;
				border-radius: 5px;
				background-color:  rgba(0, 0, 0, 0.3);
				width: 444px;
			}
			.carousel__h2 {
				margin: 0;
				color: #fff;
				margin-bottom: 15px;
			}
			.carousel__p {
				margin: 0;
				color:  #ffffff;
				font-size: 0.75rem;/* Приближение из-за подстановки шрифтов */
				font-weight: 400;
				line-height: 1.667;/* Приближение из-за подстановки шрифтов */
				text-align: left;
			}
		}
		&__prev,
		&__next {
			position: absolute;
			z-index: 100;
			top: 50%;
			transform: translate(0, -50%);
			color: rgba(255,255,255,.3);
			cursor: pointer;
			background: none;
			border: none;
			transition: .3s ease-in-out all;
			i {
				font-size: 5.938rem;/* Приближение из-за подстановки шрифтов */
				font-weight: 400;
				line-height: 0.211;
			}
			&:hover {
				color: rgba(255,255,255,.5);
			}
		}
		&__prev {
			left: -85px;
		}
		&__next {
			right: -85px;
		}
	}
}